/*
 * Dit is de custom style sheet van jouw website
 *
 */

body {
	background-color: #cccccc;

}

body h1 {
    font-family: 'Lobster', cursive;
    font-size:  40px;
}

body content {
    font-size: 18px;
}

header {
    color: #04569A;
    text-align: center;
}

footer {
    color: #fff;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 100%;
    position: relative;
    bottom: 0;
    /*background-color: #363333;*/
    background-color: #666666;

}

#contact {
    margin-top: 5em;
    text-align: center;
    margin-bottom: 3em;
}

#searchform {

    margin-top: 5em;
    margin-left: 8em;
}

#livesearch {
    margin-top: 5em;
    list-style-type: none;
    font-weight: bold;
    font-size: 17px;
}

.pagination {
    margin-left: 42%;
}

#news {
    border-bottom: #cccccc groove;
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
}

#news img{
    width: 200px;
    height: 200px;
}

#news a {
    color: #fff;
    margin-bottom: 1em;
    font-weight: bold;
}

#readMore {
    padding-bottom: .5em;
    padding-top: .5em;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 2em;
    margin-top: 2em;
    text-decoration: none;
    background-color: #666666;
}

#readMore:hover {
    background-color: #999999;
}

#search_results {
    margin-left: 5em;
    margin-right: 5em;
}


#tourWrap section {
    margin-bottom: 1em;
    border-bottom: #cccccc groove;
    padding-bottom: 3em;
}

#tourWrap iframe {
    margin-left: 37%;
    margin-top: 1em;
    width: 480px;
    height: 250px;
}

#tourWrap h2{
    font-family: 'Lobster', cursive;
    font-size:  35px;
    color: #9B410E;
    text-align: center;
}

#twitterbox {
    margin-top: 10em;
    margin-left: 4em;
    margin-right: 6em;
}

#facebookbox {
    margin-top: 5em;
    margin-left: 53em;
    margin-right: 6em;
}

#tourtable table, th, td {
    border: 1px solid black;
    margin-top: 2em;
    margin-left: 1em;
    padding: .2em;
    border-collapse: separate;
    font-size: 40px;
    background-color: rgba(51,51,51,0.2);
}

#tourtable th {
    color: #024378;
}

#tourtable a {
    text-decoration: none;
    color: #000;
}

#tourtable a:hover {
    color: #024378;
}

/*Navar start*/

@import url(http://fonts.googleapis.com/css?family=Lobster);


#navbar {
    background-color: #666666;
    /*margin-left: 32%;*/
    /*width: 35%;*/
    width: 100%;
    padding-top: .3em;
    padding-bottom: .1em;
    margin-top: 1.3em;
}

#navbar ul li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    /*float: left;*/
    padding: .2em;
    margin-top: -3em;
}

#navbar ul li a:hover {
    color: #000;
    padding-top: .2em;
    padding-bottom: .8em;
}
.selected a {
    color: #000;
}

#navbar a {
    text-decoration: none;
    list-style-type: none;
    padding: 1em;
}

#navbar  {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: #fff;
}






/*@media (max-width: 768px) {*/
	/*#navbar {*/
	/*height: 125px;*/
	/*max-width: 250px;*/
	/*}*/
/*}*/

/*@media (min-width: 768px) {*/
	/*#navbar {*/
	/*height: 125px;*/
	/*max-width: 250px;*/
	/*}*/
/*}*/

 /*Medium devices (desktops, 992px and up)*/

/*@media (min-width: 992px) {*/
	/*#navbar {*/
	/*height: 250px;*/
	/*max-width: 500px;*/
	/*}*/
/*}*/



/*Navbar end*/